<!DOCTYPE html>
<html class="gr__1410inc_xyz"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>DashBoard</title>

<link rel="shortcut icon" href="../static/Items_files/inventory.ico">


<link rel="stylesheet" href="../static/Items_files/bootstrap2.css">
<link rel="stylesheet" href="../static/Items_files/bootstrap-theme.css">
<link rel="stylesheet" href="../static/Items_files/font-awesome.css">
<link rel="stylesheet" href="../static/Items_files/font-awesome-animation.css">
<link rel="stylesheet" href="../static/Items_files/select2.css">
<script src="../static/Items_files/jquery.js"></script>
<script src="../static/Items_files/bootstrap.js"></script>
<script src="../static/Items_files/select2.js"></script>

<link rel="stylesheet" href="../static/Items_files/main.css">

<script src="../static/Items_files/main.js"></script>
</head>
<body data-gr-c-s-loaded="true">
<nav class="navbar navbar-default hidden-print">
<div class="container-fluid">

<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="" style="margin-top:-15px">
<img src="../static/Items_files/inventory.ico" alt="logo" class="img-responsive" width="57px">
</a>
</div>
<div align="right"><font size="6px"><a href="/logout">logout</a></font></div>


</nav>
<div class="container-fluid hidden-print">
<div class="row content">

<div class="col-sm-2 sidenav hidden-xs mySideNav">
<br>
<ul class="nav nav-pills nav-stacked pointer">
<li class="active">
<a href="">

Dashboard
</a>
</li>
<li class="">
<a href="{%url 'transaction'%}">

Transactions
</a>
</li>

<li class="">
<a href="{%url 'search'%}">
Search Items
</a>
</li>

<li class="">
<a href="{%url 'items'%}">

Inventory Items
</a>
 </li>
 


<li class="">
<a href="{%url 'customer'%}">

Customer
</a>
</li>
<li class="">
<a href="{%url 'bugs'%}">

Report Bugs
</a>
</li>
</ul>
<br>
</div>

<br>

<div class="col-sm-10">
<h2>welcome {{ user}}</h2>





<script src="Items_files/items.js"></script> </div>

</div>
</div>
<footer class="container-fluid text-center hidden-print">
<p>
<i class="fa fa-copyright"></i>
Copyright <a href="http://www.amirsanni.com/">zenan li</a> (2018)
</p>
</footer>

<div id="flashMsgModal" class="modal fade" role="dialog" data-backdrop="static">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header" id="flashMsgHeader">
<button type="button" class="close" data-dismiss="modal">×</button>
<center><i id="flashMsgIcon" class=""></i> <font id="flashMsg"></font></center>
</div>
</div>
</div>
</div>


<div class="modal fade" role="dialog" data-backdrop="static" id="transReceiptModal">
<div class="modal-dialog modal-sm">
<div class="modal-content">
<div class="modal-header hidden-print">
<button class="close" data-dismiss="modal">×</button>
<h4 class="text-center">Transaction Receipt</h4>
</div>
<div class="modal-body" id="transReceipt"></div>
</div>
</div>
</div>

 
<div class="modal fade" role="dialog" data-backdrop="static" id="logInModal">
<div class="modal-dialog">

<div class="modal-content">
<div class="modal-header">
<button class="close closeLogInModal">×</button>
<h4 class="text-center">Log In</h4>
<div id="logInModalFMsg" class="text-center errMsg"></div>
</div>
<div class="modal-body">
<form name="logInModalForm">
<div class="row">
<div class="col-sm-12 form-group">
<label for="logInModalEmail" class="control-label">E-mail</label>
<input id="logInModalEmail" class="form-control checkField" placeholder="E-mail" autofocus="" type="email">
<span class="help-block errMsg" id="logInModalEmailErr"></span>
</div>
<div class="col-sm-12 form-group">
<label for="logInPassword" class="control-label">Password</label>
<input id="logInModalPassword" class="form-control checkField" placeholder="Password" type="password">
<span class="help-block errMsg" id="logInModalPasswordErr"></span>
</div>
</div>
<div class="row">

<div class="col-sm-4"></div>
<div class="col-sm-2 pull-right">
<button id="loginModalSubmit" class="btn btn-primary">Log in</button>
</div>
</div>
</form>
</div>
</div>

</div>
</div>


</body>
<script type="text/javascript">
    function simulate(page) {
        $("input[name='page']").attr("value", page)
        $('#formSearch').submit();
    }

    $(function(){
        var num = $('#pageNumber').attr("value")
        $('#'+num).attr("selected", "selected")
        var sort = $('#sortNumber').attr("value")
        $("option[name='"+sort+"']").attr("selected", "selected")
    })
    </script>
    </html>